@model CoTeDiv.Models.ResponseModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/Estudiante.cshtml";
}
<style>
    div.well-profile {
        background-color: #fff;
        border-width: 2px;
        border-color: #84d312;
    }

    div.col-profile {
        background-color: rgba(255, 216, 0, 0.67);
    }
</style>
<h2>Perfil</h2>
<div class="container well well-sm">
    <div class="row">
        <div class="col-md-2">
            Tu nombre
        </div>
        <div class="col-md-9">
            @foreach (var item in Model.Perfil.Nombres) {
                <span id="input">
                    @item.Valor
                </span>
                <span>&nbsp;</span>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Tu correo electrónico
        </div>
        <div class="col-md-10">
            <span id="input">
                @Model.Perfil.Correo
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Tu fecha de nacimiento
        </div>
        <div class="col-md-10">
            <span id="input">
                @Model.Perfil.Nacimiento.ToShortDateString()
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Tu teléfono de contacto
        </div>
        <div class="col-md-10">
            <span id="input">
                @Model.Perfil.Telefono
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Cómo te describes
        </div>
        <div class="col-md-10">
            <span id="input">
                @Model.Perfil.Resumen
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink(linkText: "Modificar", actionName: "EditarPerfil", routeValues: null, htmlAttributes: new {
            @class = "btn btn-lg btn-primary"
        })
    </div>
</div>
