@model CoTeDiv.Models.ResponseModel
@{
    ViewBag.Title = "Resultados de búsqueda";
    Layout = ViewBag.Layout; // "~/Views/Shared/Estudiante.cshtml";
    string accion = ViewBag.Accion;
}
<h1>@ViewBag.Title</h1>

@if (Model.Posts.Count > 0) {
    <dl class="dl-horizontal">
        @foreach (var item in Model.Posts) {
            <dt class="well well-sm">
                @Html.ActionLink(linkText: item.Value.Titulo, actionName: "VerPost", routeValues: new {
                    id = item.Key
                }, htmlAttributes: null)

                <br />
                <div class="btn-group">
                    @Html.ActionLink(linkText: " ", actionName: accion, routeValues: new {
                        id = item.Key, valor = (int)CoTeDiv.Models.Calificaciones.TotalDesacuerdo
                    }, htmlAttributes: new {
                        @class = "btn btn-danger"
                    })
                    @if (ViewBag.Layout.Contains("Experto")) {
                        @Html.ActionLink(linkText: " ", actionName: accion, routeValues: new {
                            @id = item.Key, @valor = (int)CoTeDiv.Models.Calificaciones.Desacuerdo
                        }, htmlAttributes: new {
                            @class = "btn btn-warning"
                        })
                        @Html.ActionLink(linkText: " ", actionName: accion, routeValues: new {
                            @id = item.Key, @valor = (int)CoTeDiv.Models.Calificaciones.Nulo
                        }, htmlAttributes: new {
                            @class = "btn btn-default"
                        })
                        @Html.ActionLink(linkText: " ", actionName: accion, routeValues: new {
                            @id = item.Key, @valor = (int)CoTeDiv.Models.Calificaciones.DeAcuerdo
                        }, htmlAttributes: new {
                            @class = "btn btn-info"
                        })
                    }

                    @Html.ActionLink(linkText: " ", actionName: accion, routeValues: new {
                        @id = item.Key, @valor = (int)CoTeDiv.Models.Calificaciones.TotalAcuerdo
                    }, htmlAttributes: new {
                        @class = "btn btn-success"
                    })
                </div>
            </dt>
            <dd>
                @item.Value.Contenido
            </dd>
        }
    </dl>
}