
@{
    ViewBag.Title = "Negocio";
    Layout = "~/Views/Shared/_LayoutNegocio.cshtml";
}
<style>
    .well {
        color: midnightblue;
    }
</style>
<script>
    $(document).ready(function () {
        var $navbar = $("#negocioNavBar");
        var $lnkInicio, $lnkProductos, $lnkServicios, $lnkAcercaDe, $lnkComentarios, $lnkGaleria;
        var $divcontacto;
        $divcontacto = $("#divNegocioInicioContacto");
        initContacto($divcontacto);
        $lnkInicio = $('<li><a href="#" id="lnkInicio">Inicio</a></li>')
            .off().on("click", function () {
                $.when($("[id^='seccion']").slideUp("slow")).then(function () {
                    $("#seccionInicio").delay(500).slideDown();
                });
            });
        $lnkProductos = $('<li><a href="#" id="lnkProductos">Productos</a></li>')
            .off().on("click", function () {
                var url = window.location;
                var serverhome = url.protocol + '//' + url.host + (url.host === "localhost" ? url.port : "");
                var server = serverhome + "/Negocios/obtenerProductos";

                $.when($("[id^='seccion']").slideUp("slow")).then(function () {
                    $("#seccionProductos").delay(500).slideDown().ready(function () {
                        $("[id^='divprod']").empty();
                        $("[id^='divserv']").empty();
                        $("[id^='divfoto']").empty();
                        $.ajax({
                            url: server,
                            data: {
                                Id: @ViewBag.Id
                            },
                            type: "post",
                            dataType: "json"
                        }).done(function (obj) {
                            var $divProductos = $("#divProductos").empty();
                            $.each(obj.productos, function (i) {
                                 $this = $(this)[0];
                                initProducto($divProductos, "PRODUCTO", i, {
                                    "Id": $this.Id,
                                    "Nombre": $this.Nombre,
                                    "Precio": $this.Precio,
                                    "DescripcionBreve": $this.DescripcionBreve,
                                    "Aceptacion": $this.Aceptacion,
                                    "Foto": this.Foto,
                                    "Ruta": serverhome + "/Content/images/negociosimgs/"
                                });
                            });
                        }).fail(function (a) {
                            console.log(a);
                        }).always(function (e) {
                        });
                    });
                });
            });
        $lnkServicios = $('<li><a href="#" id="lnkServicios">Servicios</a></li>')
            .off().on("click", function () {
                var url = window.location;
                var serverhome = url.protocol + '//' + url.host + (url.host === "localhost" ? url.port : "");
                var server = serverhome + "/Negocios/obtenerServicios";

                $.when($("[id^='seccion']").slideUp("slow")).then(function () {
                    $("#seccionServicios").delay(500).slideDown().ready(function () {
                        $("[id^='divprod']").empty();
                        $("[id^='divserv']").empty();
                        $("[id^='divfoto']").empty();
                        $.ajax({
                            url: server,
                            data: {
                                Id: @ViewBag.Id
                            },
                            type: "post",
                            dataType: "json"
                        }).done(function (obj) {
                            debugger;
                            var $divServicios = $("#divServicios").empty();
                            $.each(obj.servicios, function (i) {
                                $this = $(this)[0];
                                initProducto($divServicios, "SERVICIO", i, {
                                    "Id": $this.Id,
                                    "Nombre": $this.Nombre,
                                    "Precio": $this.Precio,
                                    "DescripcionBreve": $this.DescripcionBreve,
                                    "Aceptacion": $this.Aceptacion,
                                    "Foto": this.Foto,
                                    "Ruta": serverhome + "/Content/images/negociosimgs/"
                                });
                            });
                        }).fail(function (a) {
                            console.log(a);
                        }).always(function (e) {
                        });
                    });
                });
            });
        $lnkGaleria = $('<li><a href="#" id="lnkGaleria">Galería</a></li>')
            .off().on("click", function () {
                $.when($("[id^='seccion']").slideUp("slow")).then(function () {
                    $("#seccionGaleria").delay(500).slideDown().ready(function () {
                        $("[id^='divprod']").empty();
                        $("[id^='divserv']").empty();
                        $("[id^='divfoto']").empty();
                        $("[id^='divfoto']").each(function (ndx) {
                            initFoto($(this), ndx);
                        });
                    });
                });
            });
        $lnkComentarios = $('<li><a href="#" id="lnkComentarios">Comentarios</a></li>')
            .off().on("click", function () {
                $.when($("[id^='seccion']").slideUp("slow")).then(function () {
                    $("#seccionComentarios").delay(500).slideDown();
                });
            });
        $lnkAcercaDe = $('<li><a href="#" id="lnkAcercaDe">Acerca de...</a></li>')
            .off().on("click", function () {
                $.when($("[id^='seccion']").slideUp("slow")).then(function () {
                    $("#seccionAcercaDe").delay(500).slideDown();
                });
            });
        $navbar.append($lnkInicio);
        $navbar.append($lnkProductos);
        $navbar.append($lnkServicios);
        $navbar.append($lnkGaleria);
        $navbar.append($lnkComentarios);
        $navbar.append($lnkAcercaDe);

        //initProducto($("#divprod1"), 1);
    });
</script>
<div class="well">
    <h1>
        @ViewBag.Nombre
    </h1>
    <p>
        @ViewBag.Direccion<br />
        @ViewBag.Telefono<br />
        @ViewBag.Correo<br />
        <small>@ViewBag.Horario</small>
    </p>
</div>
<div class="well well-sm" id="seccionInicio">
    <h2>Inicio</h2>
    <div class="well">
        Falta desarrollar el Carrousel principal con intro al negocio
    </div>
    <div class="row">
        <div class="col-md-8">
            Productos y servicios de novedad enforma de lista con foto en miniatura del objeto anunciado. Serían los tres últimos cargadoso a elección
            del dueño del negocio.
        </div>
        <div class="col-md-4" id="divNegocioInicioContacto">
        </div>
    </div>
    <div class="well">
        Falta desarrollar el Mapa de sucursales del negocio
    </div>
</div>
<div class="well well-sm" style="display:none;" id="seccionProductos">
    <h2>
        Productos
        <small>
            <p>
                Intro a la sección
            </p>
        </small>
    </h2>
    <div class="row">
        <div class="col-md-3">
            Falta desarrollar el filtro por Categorías y clasificación de productos/servicios
        </div>
        <div class="col-md-9" id="divProductos">
        </div>
    </div>
</div>
<div class="well well-sm" style="display:none;" id="seccionServicios">
    <h2>
        Servicios
        <small>
            <p>
                Intro a la sección
            </p>
        </small>
    </h2>
    <div class="row">
        <div class="col-md-9" id="divServicios">
        </div>
        <div class="col-md-3">
            Falta desarrollar el filtro por Categorías y clasificación de productos/servicios
        </div>
    </div>
</div>
<div class="well well-sm" style="display:none;" id="seccionGaleria">
    <h2>
        Galería
        <small>
            <p>
                Intro a la sección
            </p>
        </small>
    </h2>
    <div class="row">
        <div class="col-md-4" id="divfoto1">
        </div>
        <div class="col-md-4" id="divfoto2">
        </div>
        <div class="col-md-4" id="divfoto3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" id="divfoto4">
        </div>
        <div class="col-md-4" id="divfoto5">
        </div>
        <div class="col-md-4" id="divfoto6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" id="divfoto7">
        </div>
        <div class="col-md-4" id="divfoto8">
        </div>
        <div class="col-md-4" id="divfoto9">
        </div>
    </div>
</div>
<div class="well well-sm" style="display:none;" id="seccionComentarios">
    <h2>
        Comentarios
        <small>
            <p>
                Intro a la sección
            </p>
            <p>
                Se necesita desarrollar el widget que desplegará el comentario y la respuesta
            </p>
        </small>
    </h2>
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <span class="text-primary">Comentario 1</span>
                    <div class="col-md-offset-1">
                        <span class="text-info">Respuesta 1</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span class="text-primary">Comentario 1</span>
                    <div class="col-md-offset-1">
                        <span class="text-info">Respuesta 1</span>
                    </div>
                    <div class="col-md-offset-1">
                        <span class="text-info">Respuesta 1</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span class="text-primary">Comentario 1</span>
                    <div class="col-md-offset-1">
                        <span class="text-info">Respuesta 1</span>
                        <div class="col-md-offset-1">
                            <span class="text-info">Respuesta 1</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            Contacto
        </div>
    </div>

</div>
<div class="well well-sm" style="display:none;" id="seccionAcercaDe">
    <h2>Acerca del negocio</h2>
</div>