<h2>Resultados de la búsqueda</h2>
@for (int i = 0; i < 10; i++) {
    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink(">>", "verNegocio", new {
                @id = i
            })
        </div>
        <div class="col-md-5">
            Negocio @i.ToString()
        </div>
        <div class="col-md-3">
            Teléfono @i.ToString()
        </div>
        <div class="col-md-3">
            @string.Concat("Correo", i.ToString(), "@dominio", i.ToString(), ".ext")
        </div>
    </div>
}
