@model Tiendas.Models.TiendaModel

@{
    Layout = "~/Views/Shared/_Basica.cshtml";
    ViewBag.Title = "Servicios";
}

<h2>@ViewBag.Title</h2>
<p> - ¿Qué me ha ocurrido? No estaba soñando.</p>
<p>Su habitación, una habitación normal, aunque muy pequeña, tenía el aspecto habitual.</p>
<p>Sobre la mesa había desparramado un muestrario</p>
<div class="row">
    @for (int i = 0; i < 12; i++) {
        <div class="col-md-4">
            @Html.Partial("Oferta", new Tiendas.Models.OfertaModel() { Id = i, IdTipoOferta = Tiendas.Models.tipoOferta.Servicio })
        </div>
    }
</div>

@section pie_izquierdo{
    <ul>
        <li>
            @Html.DisplayFor(m => m.Nombre)
        </li>
    </ul>
}

@section pie_central{
    <ul>
        <li>
            @Html.DisplayFor(m => m.Direccion)
        </li>
    </ul>
}

@section pie_derecho{
    <ul>
        <li>
            @Html.DisplayFor(m => m.Telefono)
        </li>
    </ul>
}