
@{
    ViewBag.Title = "Crear nueva tienda";
    Layout = "~/Views/Shared/_Gestion.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.TextBox("txtNombre", value: null, htmlAttributes: new {
        @class = "form-control", @placeholder = "Nombre de la tienda"
    })

    @Html.TextBox("txtDireccion", value: null, htmlAttributes: new {
        @class = "form-control", @placeholder = "Dirección fiscal"
    })

    @Html.TextBox("txtTelefono", value: null, htmlAttributes: new {
        @class = "form-control", @placeholder = "Teléfono principal"
    })

    @Html.TextBox("txtMail", value: null, htmlAttributes: new {
        @class = "form-control", @placeholder = "Correo electrónico principal"
    })
    
    <input type="submit" class="btn btn-lg btn-primary" value="Guardar" />
}
